@import url(http://fonts.googleapis.com/css?family=Quicksand);

/* Links */
a,
a:focus,
a:hover {
		color: #387761; 						/*teal-ish*/
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #0099CC;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}

/*
 * BAM: Base structure
 */

html,
body {
  height: 100%;
  background-color: #303030;
}
body {
  color: #fff;
	font-family: "Quicksand";
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}

/* These are what frame the blogposts */

.mastlist-group-item {
  position: relative;
  display: block;
  padding-bottom: 50px;
  margin-bottom: -1px;
}

/*
 * Header
 */

.masthead-nav-default {
  background-color: #B21E29; 	/*BAM*/
  border-color: #e7e7e7;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}

.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;

}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

/* Inner nav bars */

.masthead-nav-inner > li {
  display: inline-block;
}
.masthead-nav-inner > li + li {
  margin-left: 20px;

}
.masthead-nav-inner > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #5F9280; /* IE8 proofing */
  /* color: rgba(255,255,255,.4); */
  border-bottom: 2px solid transparent;
}
.masthead-nav-inner > li > a:hover,
.masthead-nav-inner > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav-inner > .active > a,
.masthead-nav-inner > .active > a:hover,
.masthead-nav-inner > .active > a:focus {
  color: #263A33;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
      float: center;
  }
  .masthead-nav-inner {
      float: center;
      padding: 20px;
  }
  .top-nav-collapse {
      padding: 0;
  }
}

/*
 * BAM: Modification of Dropdown menu
 */

.masthead-nav > li.dropdown.active.open > a, 
.masthead-nav > li.dropdown.active.open > ul.dropdown-menu a:hover,
.masthead-nav > li.dropdown.open > a, 
.masthead-nav > li.dropdown.open > ul.dropdown-menu a:hover
{
  color: rgba(255,255,255, 1);
  background-color: transparent;
  border-color: #fff;
}

/*
 * BAM: Vertical Offsets
 */

.voffset  { margin-top: 2px; }
.voffset1 { margin-top: 5px; }
.voffset2 { margin-top: 10px; }
.voffset3 { margin-top: 15px; }
.voffset4 { margin-top: 30px; }
.voffset5 { margin-top: 40px; }
.voffset6 { margin-top: 60px; }
.voffset7 { margin-top: 80px; }
.voffset8 { margin-top: 100px; }
.voffset9 { margin-top: 150px; }

.square {
  padding-right: 60px;
  padding-left: 60px;
  margin: 0 0 10px;
  margin-bottom: 20px;
  font-size: 21px;
  font-weight: 300;
  line-height: 1.4;
}

.square-small {
  padding-right: 60px;
  padding-left: 60px;
  margin: 0 0 10px;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4;
}

/*
 * BAM: Responsive menu section
 */

.about-section {
		margin: 0 auto;
		height: 100%;
		padding-top: 200px;
		padding-bottom: 100px;
    text-align: center;
    background-size: cover;
		background-repeat: no-repeat;
    background-position: 50% 50%;
		background-image: url("../images/iceland.jpg");
}

.cv-section {
    height: 100%;
		color: #000000;
    padding-top: 60px;
		padding-bottom: 60px;
    text-align: center;
    background: #FFFFFF;
}

.code-section {
    height: 100%;
    padding-top: 60px;
		padding-bottom: 60px;
    text-align: center;
		background-image: url("../images/blurdesktop.png");
		background-size: cover;
		background-repeat: no-repeat;
    background-position: 50% 50%;
}

.projects-section {
    height: 100%;
    padding-top: 60px;
		color: #000000;
		padding-bottom: 60px;
    text-align: center;
    background: #FFFFFF;
}

.posts-section {
    height: 100%;
    padding-top: 60px;
		padding-bottom: 60px;
    text-align: center;
		background: #070719;
    padding-bottom: 100px;
}

.post-section-two {
    height: 100%;
		padding-bottom: 60px;
    text-align: center;
		background: #FFFFFF;
    padding-bottom: 100px;
}

.single-post-section {
    font-size: 20px;
		color: #000000;
    padding-top: 50px;
    padding-bottom: 50px;
    height: 100%;
    text-align: left;
    background: #FFFFFF;
}

.post-heading {
    background-image: url('/images/iceland.jpg');
    background-position: 25% center;
    background-color: #cccccc;
    background-size: 120%;
    background-repeat: no-repeat;
    padding-right: 60px;
    padding-left: 60px;
    padding-top: 90px;
    padding-bottom: 60px;
    height: 100%;
}

/*
 * responsive videos
 */
.video figure {
    position: relative;
    nowhitespace: afterproperty;
    padding-top: 60px;
    padding-bottom: 30px;
    height: 100%;
    overflow: hidden;
}

.video iframe, .video object, .video embed {
    /* position: absolute; */
    top: 0;
    left: 0;
    text-align: center;
    display: block;
    margin: 0 auto;
    /* width: 100%; */
    /* height: 100%; */
}

/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%;/* 700px; */
  }
}
