---
layout: bootstrap_default
title:  "Media"
---

<section class="single-post-section-snippet">
  <br> 
  <br> 
  <br> 
  <h1>Books</h1>
  <br> 
  <table class="table table-responsive">
    <tr>
      <td>
        <b>Author</b>
      </td>
      <td>
        <b>Title</b>
      </td>
      <td>
        <b>Summary</b>
      </td>
    </tr>
    {% for book in site.data.media.books %}
    <tr>
      <td>
        {{ book.author }}
      </td>
      <td>
        <b>{{ book.title }}</b>
      </td>
      <td>
        {{ book.summary }}
      </td>
    </tr>
    {% endfor %}
  </table>

  <!-- BOOKS -->
  <h1>Research Publications</h1>
  <table class="table table-responsive">
    <tr>
      <td>
        <b>Author</b>
      </td>
      <td>
        <b>Title</b>
      </td>
      <td>
        <b>Summary</b>
      </td>
    </tr>
    {% for paper in site.data.media.research_publications %}
    <tr>
      <td>
        {{ book.author }} 
      </td>
      <td>
        {{ book.title }}
      </td>
      <td>
        {{ book.summary }}
      </td>
    </tr>
    {% endfor %}
  </table>
</section>



