<!DOCTYPE html>
<html>

  <!-- Virtually the same as bootstrap_default, except that the
       menu bar neede to change links-->
  
  {% include bootstrap_head.html %}

  <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <!-- Facebook comments -->
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>

    {% include bootstrap_header.html %}

    <!-- The content for the blog -->
    <div class="post-heading" id="post-heading">
      <div class="well">
        <h1>
          {{ page.title }}
        </h1>
        <h3>
          {{ page.date | date: "%b %-d, %Y" }}
        </h3>
      </div>
    </div>
    <div class="post-section-two">
      <div class="container">
        <div class="row voffset2">
          <div class="col-sm-8 col-sm-offset-2">
            <div class="single-post-section">
              {{ content }}
            </div>
          </div>
        </div>
        <div class="row voffset2">
          <div class="col-sm-10 col-sm-offset-1">
            <div class="fb-comments"
                 data-href="http://bminortx.github.io"
                 data-numposts="5"
                 data-width="100%"></div>
          </div>
        </div>
      </div>

      <!-- Most recent blog posts -->
      <section id="Posts" class="posts-section">
        <div class="container">
          <h3>-- Recent Posts --</h3>
          <div class="row voffset5">
            {% for post in site.categories.blog limit:3 %}
            <div class="col-sm-4">
              <div class="image">
                <div id="headline-cat" class="headline-cat">
                  <!-- Color-code our categories -->
                  {% if post.category == "robotics" %}
                  <div class="robotics-thin">{{ post.category }} <i class="fa fa-cogs"></i>
                    {{ post.date | date: '%B %d, %Y' }}
                  </div>
                  {% elsif post.category == "startup" %}
                  <div class="startup-thin">{{ post.category }} <i class="fa fa-pied-piper"></i>
                    {{ post.date | date: '%B %d, %Y' }}
                  </div>
                  {% elsif post.category == "code" %}
                  <div class="code-thin">{{ post.category }} <i class="fa fa-code"></i>
                    {{ post.date | date: '%B %d, %Y' }}
                  </div>
                  {% elsif post.category == "VR" %}
                  <div class="code-thin">{{ post.category }} <i class="fa fa-eye"></i>
                    {{ post.date | date: '%B %d, %Y' }}
                  </div>
                  {% else %}
                  <div class="misc-thin">
                    <i class="fa fa-quote-left"></i>
                    random thoughts
                    <i class="fa fa-quote-right"></i> | 
                    {{ post.date | date: '%B %d, %Y' }}
                  </div>
                  {% endif %}
                </div>
                <a href="{{ post.url | prepend: site.baseurl }}">
                  <!-- <img src="{{ post.image }}" class="img-responsive"/> -->
                  <div class="headline-header">
                    {{ post.title }}
                  </div>
                  <div class="headline">
                    {{ post.preview }}   
                  </div>
                </a>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </section>
      <hr>
    </div>

    <script>
      document.getElementById("post-heading").style.backgroundImage = "url(/{{page.image}})";
      document.getElementById("post-heading").style.backgroundSize = "cover";
      document.getElementById("post-heading").style.backgroundPosition = "center";
      document.getElementById("post-heading").style.borderBottom = "5px solid #07144b";
    </script>
    <!-- ...end content -->

    {% include bootstrap_footer.html %}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js">
    </script>
    <script>
      jQuery.noConflict();
      jQuery(function() {
      jQuery(".refbody").hide();
      jQuery(".refnum").click(function(event) {
      jQuery(this.nextSibling).toggle();
      event.stopPropagation();
      });
      jQuery("body").click(function(event) {
      jQuery(".refbody").hide();
      });
      });
    </script>

  </body>
</html>
