<!DOCTYPE html>
<html>

  <!-- Virtually the same as bootstrap_default, except that the
       menu bar neede to change links-->
  
  {% include bootstrap_head.html %}

  <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <!-- Facebook comments -->
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>

    {% include bootstrap_header.html %}

    <!-- The content for the blog -->
    <div class="post-heading" id="post-heading">
      <div class="well">
          <h1>
            {{ page.title }}
          </h1>
          <h3>
            {{ page.date | date: "%b %-d, %Y" }}
          </h3>
          <div class="container">
            <div class="row">
              <div class="col-sm-4 col-sm-offset-1">
                <div class="single-post-section-right">
                  {% if page.previous %}
                  <a rel="{{ page.previous.title }}"
                     href="{{ page.previous.url }}">
                    &larr; {{ page.previous.title}} </a>
                  {% else %}
                  &larr;  Older Posts
                  {% endif %}
                </div>
              </div>
              <div class="col-sm-2">
                <div class="single-post-section-center">
                  <a href="{{url}}/index.html#Posts"
                     class="page-scroll">| All Posts |</a>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="single-post-section-left">
                  {% if page.next %}
                  <a rel="{{ page.next.title }}"
                     href="{{ page.next.url }}">
                    {{ page.next.title}} &rarr; </a>
                  {% else %}
                  Newer Posts &rarr;
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
    <div class="post-section-two">
      <div class="container">
        <div class="row voffset2">
          <div class="col-sm-8 col-sm-offset-2">
            <div class="single-post-section">
              <hr>
              <hr>
              {{ content }}
            </div>
          </div>
        </div>
        <div class="row voffset2">
          <div class="col-sm-10 col-sm-offset-1">
            <div class="fb-comments"
                 data-href="http://bminortx.github.io"
                 data-numposts="5"
                 data-width="100%"></div>
          </div>
        </div>
      </div>
      <hr>
    </div>

    <script>
      document.getElementById("post-heading").style.backgroundImage = "url(/{{page.image}})";
      document.getElementById("post-heading").style.backgroundSize = "cover";
      document.getElementById("post-heading").style.backgroundPosition = "center";
      document.getElementById("post-heading").style.borderBottom = "5px solid #070719";
    </script>
    <!-- ...end content -->

    {% include bootstrap_footer.html %}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js">
    </script>
    <script>
      jQuery.noConflict();
      jQuery(function() {
      jQuery(".refbody").hide();
      jQuery(".refnum").click(function(event) {
      jQuery(this.nextSibling).toggle();
      event.stopPropagation();
      });
      jQuery("body").click(function(event) {
      jQuery(".refbody").hide();
      });
      });
    </script>

  </body>
</html>
